html
  head
    meta(charset="UTF-8")
    title=process.env.AppName
    link(rel="stylesheet" href="app.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap&family=Material+Symbols+Outlined" rel="stylesheet")
  body
    .app#app
      .content(
          contentEditable="true"
          z:keyUp="updateContent"
          z-model="content"
        )
      .sidebar
        -
          const menuItems = {
            fullscreen: 'Full screen',
            draft: 'New',
            save: 'Save'
          }
        ul
          for label, icon in menuItems
            li: .item(z:click=`${icon}`)
              span.icon.material-symbols-outlined=icon
              span.label=label
      //- .content(
          contentEditable="true"
          z:keyUp="updateContent"
          z-model="content"
        )
      .footer
        =process.env.AppName
        |&nbsp;Copyright © 
        =new Date().getFullYear()
        |&nbsp;- Made with ❤️ by&nbsp;
        =process.env.Author
    script(src="app.js")
    if process.env.NODE_ENV === 'development'
      script.
        document.write('<script src="http://'
          + (location.host || 'localhost').split(':')[0]
          + ':35729/livereload.js?snipver=1"></'
          + 'script>')
