html
  head
    meta(charset="UTF-8")
    title=process.env.AppName
    link(rel="stylesheet" href="app.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap&family=Material+Symbols+Outlined" rel="stylesheet")
    script(src="zero.js")
  body#app: div(z-class="theme {{themeName}}")
    .app
      .sidebar
        -
          const menuItems = [
            ['fullscreen', 'Full screen'],
            ['draft', 'New'],
            ['save', 'Save'],
            ['{{sfx}}', 'Toggle sound'],
            ['{{theme}}', 'Toggle theme'],
            ['spacer'],
            ['help', 'Help']
          ]
        ul
          for item in menuItems
            if item[0] === 'spacer'
              li: .item
            else
              li: .item(z:click=`${item[0]}`)
                span.icon.material-symbols-outlined=item[0]
                span.label=item[1]
      .content(
          contentEditable="true"
          z:keyDown="createSound"
          z:keyUp="updateContent"
          z-model="content"
        )
      .footer
        span {{ wordCount }}
        span &nbsp;words
    .modal(z-if="modal.visible")
      .modal-content
        .title {{ modal.title }}
        div {{ !modal.message }}
        .buttons
          for button in ['primary', 'secondary', 'warning']
            button(
              class=button
              z:click=`modal.buttons.${button}.action`
              z-if=`modal.buttons.${button}`
            ) {{ modal.buttons.#{button}.text }}
    script(src="app.js")
    if process.env.NODE_ENV === 'development'
      script.
        document.write('<script src="http://'
          + (location.host || 'localhost').split(':')[0]
          + ':35729/livereload.js?snipver=1"></'
          + 'script>')
